{
  "presets": [
    "env",
    "preact",
    "flow",
    "stage-3"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "sourceMaps": "inline"
}
